.border
{
    border: 1px solid black;
}

table 
{
    border-collapse: collapse;
    width: 100%;
    font-family:'Times New Roman', Times, serif
}

th, td 
{
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th 
{
    background-color: grey;
    color: orange;
}

.hidden 
{
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.visible 
{
    display: block;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.botones-container 
{
    display: flex;
    gap: 10px;
}